[submodule "RNG Game/Guessing-Game"]
	path = RNG Game/Guessing-Game
	url = https://github.com/vilmapato/Guessing_game.git
[submodule "RNG Game/Hello_World"]
	path = RNG Game/Hello_World
	url = https://github.com/vilmapato/hello_world.git
[submodule "RNG Game/Counter"]
	path = RNG Game/Counter
	url = https://github.com/vilmapato/counter_in_rust.git
